DATABASE_URL=mysql://root:root@localhost:3306/pamphlet_db
# Server Configuration
PORT=5000
NODE_ENV=development

RAILWAY_DATABASE_URL=mysql://root:TbMqyUtYncqlhGZgXAowENQqJqcfZxxQ@thomas.proxy.rlwy.net:52793/railway

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_EXPIRE=7d


EMAIL_USER=roshanjournal676@gmail.com
EMAIL_PASS=raae qbgq ecim iaac

JWT_RESET_SECRET=your_secret_key_here_change_in_production

CLIENT_URL=http://localhost:3000